/*.arc text {*/
    /*font: 10px sans-serif;*/
    /*text-anchor: middle;*/
/*}*/

/*.arc path {*/
    /*stroke: #fff;*/
/*}*/
body {
    font-family: Sans-serif;
    font-size: 10px;
}
.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 5px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
    font-style: italic;
    color: gray;
}
/*.slice textPath{*/

    /*font-family: Sans-serif;*/
    /*font-size: 10px;*/
/*}*/