/* You can add global styles to this file, and also import other style files */

.arc text {
  font: 0px sans-serif;
  text-anchor: middle;
}

.arc:hover text {
  font: 10px SansSerif;
  text-anchor: middle;
  color: #fff;
}

.arc path {
  stroke: #fff;
}

/*.arc:hover path {*/
  /*stroke: #000;*/

/*}*/