.area {
    fill: none;
    clip-path: url(#clip);
    stroke: steelblue;
    stroke-width: 1.5px;
}
.area2 {
    fill: none;
    clip-path: url(#clip);
    stroke: steelblue;
    stroke-width: 1.5px;
}
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
